#intro-object-div {
    padding-top: 40px;
}

.hello-h3 {
    font-size: 25px;
    color: #00909e
}

.name-h1 {
    color: #ffffff;
    font-size: 60px;
}

.desc-h1 {
    font-size: 60px;
    color: #c9d1d3
}

.intro-description {
    flex-grow: 1;
    text-align: left;
}

.intro-p {
    color: #c9d1d3;
    padding-top: 50px;
    width: 50%;
    font-size: 20px
}

@media only screen and (max-width: 600px) {
    #intro-div {
        display:flex;
    }

    #intro-object-div {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .hello-h3 {
        font-size: 20px;
    }

    .name-h1 {
        color: #ffffff;
        font-size: 30px;
    }

    .desc-h1 {
        font-size: 25px;
        color: #c9d1d3
    }

    .intro-description {
        flex-grow: 1;
        margin: auto;
        text-align: left;
        width: 50%;
    }
    
    .intro-p {
        color: #c9d1d3;
        padding-top: 5px;
        width: 70%;
        font-size: 15px
    }
}