.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


h1 {
  font-family: 'Poppins', sans-serif;
  color: #c9d1d3;
}

h2 {
  font-family: 'Poppins', sans-serif;
  color: #c9d1d3;
}

h3 {
  font-family: 'Poppins', sans-serif;
  color: #c9d1d3;
}

h4 {
  font-family: 'Poppins', sans-serif;
  color: #c9d1d3;
}

h5 {
  font-family: 'Poppins', sans-serif;
  color: #c9d1d3;
}

p {
  font-family: 'Poppins', sans-serif;
  color: #c9d1d3;
}

.object-div {
  padding: 200px 0px;
  padding-left: 50px;
}

.container-div {
  padding: 0px 160px;
  background: #282c34;
}

.introduction-container {
  background: #282c34;
  max-width: 100%;
}

#content-div {
  display: flex;
  background: #282c34;
}

.section-header-parent {
  display: flex;
}

.section-header-child {
  text-align: left;
  padding: 30px 0px;
}

.section-header-h1 {
  padding-right: 15px;
  padding-left: 10px;
  width: 25%;
}

.list-number {
  width: 60px;
  color: #00909e
}

.after-header {
  border: 4px solid white;
  border-radius: 5px;
  width: 300px;
  padding-left: 10px;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

@media only screen and (max-width: 600px) {
  .object-div {
    padding: 20px 0px;
    padding-left: 50px;
  }
  
  .container-div {
    padding: 25px 0px;
    background: #282c34;
  }
  
  .introduction-container {
    background: #282c34;
    max-width: 100%;
  }
  
  #content-div {
    display: flex;
    background: #282c34;
  }
  
  .section-header-parent {
    display: flex;
  }
  
  .section-header-child {
    text-align: left;
    padding: 30px 0px;
    margin-bottom: .5rem;

  }
  
  .section-header-h1 {
    padding-right: 5px;
    padding-left: 10px;
    width: 40%;
    font-size: 20px;
  }
  
  .list-number {
    width: 20px;
    color: #00909e;
    font-size: 20px;
  }
  
  .after-header {
    border: 4px solid white;
    border-radius: 5px;
    width: 80px;
    padding-left: 10px;
    font-weight: 50;
    line-height: 1.2;
    margin: auto;
    margin-top: 10px;
  }

  .passion {
    font-size: 20px;
  }

  .socialmedia-div {
    position: fixed;
    bottom: 0px;
    z-index: -1;
  }

  .email-div {
    position: fixed;
    bottom: 0px;
    z-index: -1;
  }
}